body {
  background: url(../resources/harvard.jpg) repeat-y;
  background-size: 100%;
  background-attachment: fixed;
  padding: 50px 0;
  margin: 0;
}
#container {
  background: white;
  padding: 40px 20px 10px 20px;
  box-sizing: border-box;
  width: 700px;
  margin: auto;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  }
  #container > p {
    width: 400px;
    margin-left: 130px;
  }
#hero {
  width: 300px;
  margin: 10px 0 10px 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 200px;
  margin-top: 40px;
  }
  ul li {
    float: left;
    margin-right: 35px;
    counter-increment: step;
    }
    ul li h3:before {
      content: counter(step) ". ";
    }
    ul li h3, ul li h3:before {
      margin: 0 0 10px 0;
      font-weight: normal;
      font-style: italic;
      color: #666;
    }
    ul li:last-of-type {
      margin-right: 0;
    }
    ul li p {
      width: 190px;
    }
    ul li img {
      height: 40px;
    }
#footer p, #footer p a {
  color: #555;
  font-style: italic;
  font-size: 12px;
}

@media (max-width: 899px) {
  body {
    padding: 0;
  }
  #container {
    width: 100%;
    margin: 0;
  }
  #container > p {
    width: 100%;
    margin: 0;
  }
  ul li {
    margin: 0;
    width: 33%;
    box-sizing: border-box;
    padding: 10px;
  }
  ul li p {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 500px) {
  ul li, ul li p {
    width: 100%;
    margin: 0;
  }
  ul {
    height: 600px;
  }
}

