body {
  background: url(../resources/harvard.jpg) repeat-y;
  background-size: 100%;
  background-attachment: fixed;
  padding: 50px 0;
  margin: 0;
}
#container {
  background: white;
  padding: 40px 20px 10px 20px;
  box-sizing: border-box;
  width: 700px;
  margin: auto;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  }
  #container > p {
    width: 400px;
    margin-left: 130px;
  }
h1 {
  font-size: 48px;
  margin: 0;
}
h2 {
  color: #666;
  font-weight: normal;
  border-bottom: 2px solid #666;
  padding: 5px;
  font-style: italic;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 210px;
  margin-top: 40px;
  }
  #members li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
  }
  #members li:hover {
    border: 1px solid #333;
  }
  ul li {
    float: left;
    margin-right: 35px;
    counter-increment: step;
    border: 1px solid white;
    width: 188px;
    }
    #steps li h3:before {
      content: counter(step) ". ";
    }
    ul li h3, #steps li h3:before {
      margin: 0 0 10px 0;
      font-weight: normal;
      font-style: italic;
      color: #666;
    }
    ul li:nth-of-type(3n) {
      margin-right: 0;
    }
    ul li img {
      height: 40px;
    }
#members li {
  margin-bottom: 30px;
}
#footer p, #footer p a {
  color: #555;
  font-style: italic;
  font-size: 12px;
}

@media (max-width: 899px) {
  body {
    padding: 0;
    background: white;
  }
  #container {
    width: 100%;
    margin: 0;
  }
  #container > p {
    width: 100%;
    margin: 0;
  }
  ul li {
    margin: 0;
    width: 33%;
    box-sizing: border-box;
    padding: 10px;
  }
  ul li p {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  ul {
    height: 250px;
  }
}
@media (max-width: 500px) {
  ul li, ul li p {
    width: 100%;
    margin: 0;
  }
  ul {
    height: 500px;
  }
}

