body {
  background: url(../resources/harvard.jpg) repeat-y;
  background-size: 100%;
  background-attachment: fixed;
  padding: 50px 0;
}
#container {
  background: white;
  padding: 40px 20px;
  box-sizing: border-box;
  width: 700px;
  margin: auto;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  }
  #container > p {
    width: 400px;
    margin-left: 130px;
  }
#hero {
  width: 300px;
  margin: 10px 0 10px 0;
}
ul {
  margin: 0;
  list-style: none;
  height: 200px;
  margin-top: 40px;
  }
  ul li {
    float: left;
    margin-right: 35px;
    counter-increment: step;
    }
    ul li h3:before {
      content: counter(step) ". ";
    }
    ul li h3, ul li h3:before {
      margin: 0 0 10px 0;
      font-weight: normal;
      font-style: italic;
      color: #666;
    }
    ul li:last-of-type {
      margin-right: 0;
    }
    ul li p {
      width: 170px;
    }
    ul li img {
      height: 40px;
    }

